.Button {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  border-radius: var(--border-radius);
  border: 1px solid var(--orange-color);
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--orange-color);
  padding: 12px 16px;
  font-weight: 600;
  transition: 0.2s;
}

.ButtonOrange {
  color: #fff;
  background-color: var(--orange-color);
}
